
.HomePage{
    position:relative;


}

.HomePage img{
    width: 100%;
    height:calc(100vh - 30px);
    object-fit: cover;
}














img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
}



.home .pages{
    background-color: rgb(226, 235, 232);
    border-radius: 20px;
    font-size: 100px;
    float: left;
    margin: 30px;
    padding: 20px;
    position: relative;
    border: 3px solid black;
    align-items: center;

    
}