.LogPage {
    position: relative;
    background-color: black;
    min-height: 100vh; /* Sayfa yüksekliği tam ekran olsun */
    display: flex;
    align-items: center; /* Dikey ortalama */
    justify-content: center; /* Yatay ortalama */
}

.LogPage img {
    width: 100%;
    height: calc(100vh); /* Yüksekliği tam ekran olacak şekilde ayarla */
    object-fit: cover;
}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.logpage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.logpage .LogPage form {
    background-color: rgba(1, 8, 16, 0.853);
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(241, 40, 171), 0px 0px 25px rgb(116, 148, 237), 0px 0px 30px rgb(203, 214, 214);
    width: 32vw;
    max-width: 400px;
}

.logpage .LogPage form .formgroup {
    background-color: rgba(1, 5, 8, 0.665);
    margin-bottom: 30px;
    position: relative;
}

.logpage .LogPage form .formgroup input {
    width: 100%;
    height: 40px;
    background-color: #f3a7f1;
    border: none;
    outline: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.logpage .LogPage form .formgroup span {
    position: absolute;
    left: 20px;
    top: 10px;
    color: rgb(82, 48, 48);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s;
    padding: 3.9px 7px;
    border-radius: 5px;
}

.logpage .LogPage form .formgroup input:focus ~ span,
.logpage .LogPage form .formgroup input:valid ~ span {
    top: -15px;
    left: 20px;
    font-size: 0.9rem;
    background-color: rgb(226, 199, 204);
}

.logpage .LogPage form .btngroup {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
}

.logpage .LogPage form .btngroup a {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px solid transparent;
    align-self: flex-end;
}

.logpage .LogPage form .btngroup button {
    font-size: 18px;
    color: rgb(82, 48, 48);
    background-color: rgb(215, 183, 189);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: 0px 0px 5px rgb(203, 214, 214), 0px 0px 10px rgb(203, 214, 214), 0px 0px 15px rgb(203, 214, 214);
}
